* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color:#fff;
  
}
.max-width {
  max-width:1300px;
  margin:auto;
}




.no-txtdeco {
  text-decoration: none;
}



.navbar{

  width: 100%;
  padding: 15px 0;

}
.navbar .max-width {
  display:flex;
  align-items:center;
  justify-content: space-between;
}

.navbar .max-width .logo {
  color: black;
  font-size: 25px;
  font-weight: 600;
}

.navbar .max-width .menu li{

  display: inline-block;
  list-style: none;
  margin-left: 30px;

}
.navbar .max-width .menu li link{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  

}

.nav-buttons button {
  margin-left:5px;
}





.loginlogout-button {
  padding: 5px 20px;
  background: #2ba1ff;
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  border: none;
}

.register-button {
  padding: 5px 20px;
  background: #ff3579;
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  border:none;
}

/*
.slider {
  padding-top: 40px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.slider .textbox {
  position: relative;
  max-width: 600px;

}

.slider .textBox h2{
  color: #333;
  font-size: 3em;
  line-height: 1.4em;
  font-weight: 500;

}

.slider .textBox h2 span {
  color: #2ba1ff;
  font-size: 1.2em;
  font-weight:900;

}

.slider .textBox p {
  color: #333;

}

.slider .textBox a{
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #2ba1ff;
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}

.slider .imgBox {
  width: 600px;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  padding-top:10px;
}

*/

.services-home {
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  background: #203647;
  position: relative;
  flex-wrap: wrap;
  margin:40px 0 0 0;

}

.services-home .blurb {
  position: relative;
  width: 350px;
  height: 350px;
  margin: 35px;
  background: #fff;
  box-shadow: 0px 30px 50px rgba(0,0,0,0.05);
  overflow: hidden;

}

.services-home .blurb .blurbimg {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:0.5s;
  transform:scale(1) translateY(0);
}

.services-home .blurb:hover .blurbimg{
  transform:scale(1) translateY(-100%);

}

.services-home .blurb .blurbimg i {
  max-width: 100px;
}

.services-home .blurb .blurbtext {
  position: relative;
  top: 0;
  left:0;
  height:100%;
  width:100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  transition: 0.5s;
  background: #ff3579;
  transform: scale(1) translateY(calc(100% - 5px));


}

.services-home .blurb:hover .blurbtext{
  transform: scale(1);
}

.services-home .blurb:nth-child(2) .blurbtext {
  background: #2ba1ff;
}

.services-home .blurb:nth-child(3) .blurbtext {
  background: #c630e0;
}

.services-home .blurb .blurbtext i {
  max-width: 100px;
  filter: invert(1);
}

.services-home .blurb .blurbtext h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 2px;
  margin-top: 20px;
}

services-home .blurb .blurbtext p{
  color: #fff;
  font-size: 16px;
  font-weight:400;
}

.newsletter {
  padding-top: 80px;
  height: 60vh;
  
}

.newsletter .title-box {
  text-align: center;
}

.newsletter .title-box h2 {
  padding: 20px 0;
  font-size: 2em;
  color: #2ba1ff;
}

.input-row {
  max-width: 800px;
  margin-left: auto;
  margin-right:auto;
}

.fullname-class {
  
  color: black;
  background-color: white;
  border: none;
  font-size: 18px;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 8px;
  box-shadow: 0px 30px 50px rgba(0,0,0,0.05);
}

.email-class {
  color: black;
  background-color: white;
  border: none;
  font-size: 18px;
  width: 70%;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 8px;
  box-shadow: 0px 30px 50px rgba(0,0,0,0.05);

}

.submit-class {
  color: white;
  border: none;
  font-size: 18px;
  width: 29%;
  padding: 8px 20px;
  background: #2ba1ff;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  box-shadow: 0px 30px 50px rgba(0,0,0,0.05);
}

footer {
  height: 8vh;
  display: flex;
  background-color: #12232E;
  justify-content: center;
  align-items: center;
}

footer h3 {
  color: #fff;
  
}

.register-container {
  margin-top:60px;
  max-width: 500px;
  margin-left:auto;
  margin-right:auto;
}





.top-wrap {
  display:flex;
  justify-content: space-between;
  margin-top: 20px;

}

.top-wrap i {
  color: #fff;
}

.top-wrap a {
  color: #fff;
  padding: 5px 20px;
  background: #2ba1ff;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.07);
  border-radius: 20px;
}



.buttom-wrap {
  margin-top: 20px;
  background-color: #2ba1ff;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 30px;
  box-shadow: 0px 5px 2px rgba(0,0,0,0.20);
  border-radius: 10px;
  position:relative;
}

.buttom-wrap input[type=text],[type=password] {
  
  width: 95%;
  margin-left: auto;
  margin-right:auto;
  height:7vh;
  border: none;
  box-shadow: 0px 4px 2px rgba(0,0,0,0.20);
  padding : 2px 6px;
  border-radius: 10px;
  font-size: 1em;
}

.buttom-wrap button {
  padding: 5px 20px;
  background: #ff3579;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  border: none;
  width: 30%;
  margin-left: auto;
  margin-right:auto;
  border-radius:20px;
}

.buttom-wrap-login {
  margin-top: 20px;
  background-color: #2ba1ff;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 30px;
  box-shadow: 0px 5px 2px rgba(0,0,0,0.20);
  border-radius: 10px;
  position:relative;
}

.buttom-wrap-login input[type=text],[type=password] {
  
  width: 95%;
  margin-left: auto;
  margin-right:auto;
  height:7vh;
  border: none;
  box-shadow: 0px 4px 2px rgba(0,0,0,0.20);
  padding : 2px 6px;
  border-radius: 10px;
  font-size: 1em;
}

.buttom-wrap-login button {
  padding: 5px 20px;
  background: #ff3579;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  border: none;
  width: 30%;
  margin-left: auto;
  margin-right:auto;
  border-radius:20px;
}




.copyright-div {
  margin-top: 20px;
  color: rgba(0,0,0,0.55);
}